{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}
<br>
   <div class="row">
	<div class="col-md-5">
		<h5> &nbsp LAST CREATED 5 USERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_participant'%}">Create User</a>
			<table class="table table-sm">
				<tr>
					<th>Student</th>
					<th>Phone</th>
					<th>Details</th>
				</tr>

				{% for participant in last_five1 %}
				<tr>
					<td>{{participant.name}}</td>
					<td>{{participant.phone}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'participant' participant.id %}">View</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST CREATED 5 EVENTS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_event'%}">Create Event</a>
			<table class="table table-sm">
				<tr>
					<th>Event</th>
					<th>Event Date</th>
					<th>Status</th>
					<th>View</th>
				</tr>



				{% for event in last_five %}
				<tr>
					<td>{{event.name}}</td>
					<td>{{event.date}}</td>
					<td>{{event.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'event' event.id %}">View</a></td>
				</tr>
				{% endfor %}



			</table>
		</div>
	</div>

</div>
    		<br>
<br>

		<div class="row">
			<div class="col-md">
				<br>
				<h5><center>LAST CREATED 5 REGISTRATION:</center></h5>
				<br>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Participant</th>
							<th>Event</th>
							<th>Registered Date</th>
							<th>Status</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>

						{% for event_member in last_five2 %}
				<tr>
					<td>{{event_member.participant}}</td>
					<td>{{event_member.event}}</td>
					<td>{{event_member.date_created}}</td>
					<td>{{event_member.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_event_member' event_member.id %}">Update</a> </td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_event_member' event_member.id %}">Delete</a> </td>
				</tr>
				{% endfor %}
					</table>
				</div>
			</div>

		</div>
{% endblock %}
