{% extends 'accounts/main.html' %}

{% block content %}
    		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Registered Participants</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Participant</th>
							<th>Event</th>
							<th>Registered Date</th>
							<th>Status</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>

						{% for event_member in event_member %}
				<tr>
					<td>{{event_member.participant}}</td>
					<td>{{event_member.event}}</td>
					<td>{{event_member.date_created}}</td>
					<td>{{event_member.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_event_member' event_member.id %}">Update</a> </td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_event_member' event_member.id %}">Delete</a> </td>
				</tr>
				{% endfor %}
					</table>
				</div>
			</div>

		</div>

		</div>

{% endblock %}
