<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-events">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Events</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_events}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="events-completed">
			  	<div class="card-header">
			  		<h5 class="card-title">Events Completed</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{completed}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="events-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Events Upcoming</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{upcoming}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>