{%  extends 'accounts/main.html' %}
{% block content %}
{%  include 'accounts/status.html' %}
{% load crispy_forms_filters %}

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
			{{myFilter.form|crispy}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>

<br>

<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_event_member' participant.id %}">Register Event</a>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Participant</th>
							<th>Event</th>
							<th>Registered Date</th>
							<th>Status</th>
						</tr>

						{% for event_member in event_members %}
				<tr>
					<td>{{event_member.participant}}</td>
					<td>{{event_member.event}}</td>
					<td>{{event_member.date_created}}</td>
					<td>{{event_member.status}}</td>
				</tr>
				{% endfor %}
					</table>
				</div>
			</div>

		</div>
<br>
<br>


{% endblock content %}